<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="paronomasia.prontodroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher1"
        android:supportsRtl="false"
        android:theme="@style/Theme.CurrentAppTheme">
        <activity
            android:name=".Controls"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.CurrentAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".Controls"
            android:theme="@style/Theme.CurrentAppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="paronomasia.prontodroid.Controls" />
        </activity>
        <activity
            android:name=".AddRemote"
            android:label="@string/title_activity_add_remote"
            android:parentActivityName=".Controls"
            android:theme="@style/Theme.CurrentAppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="paronomasia.prontodroid.Controls" />
        </activity>
        <activity
            android:name=".AddCodes"
            android:label="@string/title_activity_add_codes"
            android:theme="@style/Theme.CurrentAppTheme" />
        <activity
            android:name=".CodeList"
            android:label="@string/title_activity_code_list"
            android:parentActivityName=".Controls"
            android:theme="@style/Theme.CurrentAppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="paronomasia.prontodroid.Controls" />
        </activity>
        <activity
            android:name=".EditCode"
            android:label="@string/title_activity_edit_code"
            android:theme="@style/Theme.CurrentAppTheme" />
        <activity
            android:name=".RemoteList"
            android:label="@string/title_activity_remote_list"
            android:theme="@style/Theme.CurrentAppTheme" />
    </application>

</manifest>